<div class="container">
	<div>
	<form [formGroup]="loginForm" class="card" (submit)="login()">
	   <mat-grid-list cols="1" rowHeight="50px">
		   <mat-grid-tile [colspan]="1" [rowspan]="1">
			   <div class="login">
				   <h2>Login</h2>
			   </div>
		   </mat-grid-tile>
		  <mat-grid-tile [colspan]="1" [rowspan]="1">
		   <mat-form-field class="example-full-width" appearance="fill">
		   <span><input matInput autofocus placeholder="Nombre de Usuario" formControlName="userName" type="text"/> </span>  
			 </mat-form-field>
		  </mat-grid-tile> 
		  <mat-grid-tile [colspan]="1" [rowspan]="1">
		   <mat-form-field class="example-full-width" appearance="fill">
		   <input matInput placeholder="Contraseña" formControlName="password" type="password"/>  
			 </mat-form-field>
		  </mat-grid-tile>
		  <mat-grid-tile class= "input" [colspan]="1" [rowspan]="1">
			<mat-form-field class="example-full-width" appearance="fill">
			<input matInput class="input" placeholder="Correo" formControlName="email" type="email"/>  
			  </mat-form-field>
		   </mat-grid-tile>
		  <mat-grid-tile [colspan]="1" [rowspan]="1">
		   <button class="login_btn" type="submit" [disabled]="loginForm.invalid"> 
			   Login
		   </button></mat-grid-tile><br>
		   <router-outlet></router-outlet>
	   </mat-grid-list>
			
   </form>
   </div>
</div>
