<div>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
       <mat-grid-list cols="1" rowHeight="50px">
           <mat-grid-tile [colspan]="1" [rowspan]="1">
               <div>
                   <h2>Registro de Estudiantes</h2>
               </div>
           </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
           <mat-form-field class="example-full-width" appearance="fill">
           <input matInput placeholder="Nombre" formControlName="name" type="text"/>   
             </mat-form-field>
          </mat-grid-tile> 
          
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="example-full-width" appearance="fill">
            <input matInput placeholder="Apellidos" formControlName="lastName" type="text" />  
              </mat-form-field>
           </mat-grid-tile>
           <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="example-full-width" appearance="fill">
            <input matInput  formControlName="birthday" type="date"/>  
              </mat-form-field>
            </mat-grid-tile>
  
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="example-full-width" appearance="fill">
            <input matInput placeholder="example@example.com" formControlName="email" type="email"/>  
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="example-full-width" appearance="fill">
              <input matInput placeholder="Calle" formControlName="street" type="text"/>  
                </mat-form-field>
              </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="example-full-width" appearance="fill">
              <input matInput placeholder="Ciudad" formControlName="city" type="text"/>  
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="example-full-width" appearance="fill">
                <input matInput placeholder="Comunidad" formControlName="community" type="text"/>  
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="example-full-width" appearance="fill">
                  <input matInput placeholder="País" formControlName="country" type="text"/>  
                    </mat-form-field>
                  </mat-grid-tile>

                  <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput placeholder="Código Postal" formControlName="zipCode" type="text"/>  
                      </mat-form-field>
                    </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Agregar Cursos</mat-label>
              <mat-select [(ngModel)]="selectedValue" formControlName="coursesId">
                <mat-option *ngFor="let course of courses" [value]="course.value">
                  {{course.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field></mat-grid-tile>
  
          
          <mat-grid-tile [colspan]="1" [rowspan]="1">
           <button type="submit" [disabled]="registerForm.invalid">
               Registrar Estudiante
           </button></mat-grid-tile><br>
           <router-outlet></router-outlet>
       </mat-grid-list>
            
   </form>
  </div>
